!= js()
script(type='application/x-javascript').
  addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
script(type='text/javascript', src='../js/jquery.min.js')
script(src='../js/modernizr.custom.97074.js')
script(type='text/javascript', src='../js/move-top.js')
script(type='text/javascript', src='../js/easing.js')
script(type='text/javascript').
  jQuery(document).ready(function($) {
  $(".scroll").click(function(event){
  event.preventDefault();
  $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
  });
  });
script.
  $( "span.menu" ).click(function() {
  $( "ul.nav1" ).slideToggle( 300, function() {
  // Animation complete.
  });
  });
script(src='../js/responsiveslides.min.js')
script.
  // You can also use "$(window).load(function() {"
  $(function () {
  // Slideshow 4
  $("#slider3").responsiveSlides({
  auto: true,
  pager: false,
  nav: false,
  speed: 500,
  namespace: "callbacks",
  before: function () {
  $('.events').append("<li>before event fired.</li>");
  },
  after: function () {
  $('.events').append("<li>after event fired.</li>");
  }
  });
  });
script(type='text/javascript').
  $(document).ready(function() {
  /*
  var defaults = {
  containerID: 'toTop', // fading element id
  containerHoverID: 'toTopHover', // fading element hover id
  scrollSpeed: 1200,
  easingType: 'linear'
  };
  */
  $().UItoTop({ easingType: 'easeOutQuart' });
  });
